.courseButton button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: black;
    font-weight: 600;
    color: white;
    display: block;
}