.searchInputs {
    margin-top: 105px;
    display: flex;

}
.search {
    left: 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100%;
    z-index: 1;
    
}
.search input {
    background-color: #eeeeee;
    border: 0;
    border-radius: 2px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: x-large;
    height: 30px;
    width: 600px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: #4b4b4b;
    border-radius: 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

  
input:focus {
    outline: none;
}
    .searchIcon svg {
    font-size: 35px;
}