nav,header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cfd8dc;
    padding: 20px 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06); 
} 

#nav li{
    color: black;
}

#navitems{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navitems li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navitems li a{
    font-size: 1.3 rem;
    font-weight: 600;
    color:black;
    transition: 0.3s ease-in-out;
}

#navitems li a:hover,
#navitems li a:active{
    color:#808080;
}

#navitems li a:hover::after,
#navitems li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #808080;
    position: absolute;
    bottom: -4px;
    left: 20px;

} 

#navitems.active {
    right: 0px;
}

img {
    max-width: 10%;
    height: auto;
}